<main class="card">
    <div class="display-1">{{name}}</div>
    {{#each users}}
        <ol>
            <li><h2>{{name}}</h2>{{id}}{{gender}}{{age}}</li>
            <hr>
            {{#each friends}}
                {{id}}{{name}}{{gender}}{{age}}
                    {{#each mutual_friends}}
                        {{id}}{{name}}{{gender}}{{age}}
                            {{#if mutual_friends}}
                                {{#each mutual_friends}}
                                    {{id}}{{name}}{{gender}}{{age}}
                                {{/each}}
                            {{/if}}   
                    {{/each}}
                    {{#if groups}}
                        {{#each groups}}
                            {{id}}{{name}} {{description}}
                                {{#each members}}
                                    {{id}}{{name}}{{gender}}{{age}}
                                {{/each}}
                        {{/each}}
                    {{/if}}
            {{/each}}
            {{#if groups}}
                {{#each groups}}
                    {{id}}{{name}}{{description}}
                        {{#each members}}
                            {{id}}{{name}}{{gender}}{{age}}
                        {{/each}}
                {{/each}}
            {{/if}}
        </ol>
    {{/each}}
</main>