{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>

	{{#with person}}
		<div>
			<h1>{{name}}</h1>
		</div>
		<div>
			<b>Age: {{age}}</b>
		</div>
		<div>
			<p>Gender: {{gender}}</p>
		</div>
		<div>
			<address>
					{{#with address}}
						<p>Address: {{zip}}, {{country}}, {{state}}, {{city}}, {{street}}</p>	
					{{/with}}
			</address>
		</div>
		<hr>
		<br>
			
		<div>
			<h2>
				Education:
			</h2>
			{{#each education}}
				<p>University: {{university}}, {{graduationYear}}</p>
				<p>Degree: {{degree}}</p>
				<p>Major: {{major}}</p>
			{{/each}}
		</div>
		<hr>
		<br>

		<div>
			<h2>
				Work experience:
			</h2>
			{{#each workExperience}}
				<p>Company: {{company}}, {{year_founded}}</p>
				<p>Title: {{title}}</p>
				<p>Industry: {{industry}}</p>
				<p>Duration: {{startDate}} - {{endDate}}</p>
				<p>Responsibilities: {{responsibilities}}.</p>
			{{/each}}
					
					<ul>
						{{#each employees}}
							<b>Employees:</b>	
							<li>Name: {{name}}</li>
							<li>Position: {{position}}</li>
							<li>Department: {{department}}</li>
						{{/each}}

						{{#each projects}}
							<b>Projects:</b>	
							<li>Name: {{name}}</li>
							<li>Description: {{description}}</li>
							<li>Status: {{status}}</li>
						{{/each}}
					</ul>
			
		</div>

	{{/with}}

		
		
		

</div>

{{!-- // ================================================================ --}}

 {{#with workExperience}}
        <main>
            <section>
                <div>
                    {{> title data="Work history " big=true }}
                </div>
                <div>
                    <ul>
                        {{#each works}}
                            <li>
                                <div>{{position}}</div>
                                <br>

                                <div>{{duration.from}} -
                                    {{#if duration.to}}
                                        {{duration.to}}
                                    {{else}}
                                        ( досі працюю )
                                    {{/if}}
                                </div>
                                <br>
                                  
                                <div>
                                    {{#if company.url}}
                                        {{> link text=company.name href=company.url blank=true noLine=true }}
                                    {{else}}
                                        <b>{{company.name}}</b>  
                                    {{/if}}
                                </div>
                                <br>

                                <div>
                                    <strong>Projects: ({{projectAmount}})</strong>
                                </div>
                                <br>

                                <ul>
                                    {{#each projects}}
                                        <li>
                                            <div>{{> link text=name href=url blank=true noLine=true }}</div>
                                            <br>

                                            <div>
                                                <p>{{about}}</p>
                                            </div>
                                            <br>
                                            
                                            <div>
                                                <em>Project stacks: ({{stackAmount}})</em>
                                            </div>
                                            <br>

                                            <div>
                                                <ul>
                                                    {{#each stacks}}
                                                         <li>
                                                            {{name}}
                                                        </li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                            <br>

                                            <div>
                                                <em>Project awards: ({{awardAmount}})</em>
                                            </div>
                                            <br>

                                            <div>
                                                <ul>
                                                    {{#each awards}}
                                                        <li>
                                                            {{name}}
                                                        </li>
                                                    {{/each}}
                                                </ul>
                                            </div>

                                        </li>
                                    {{/each}}
                                </ul>
                            </li>
                            <br>
                        {{/each}}
                    </ul>
                </div>
            </section>
        </main>
    {{/with}}
  
{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
