<main class="p-5">
    <hr>
    <div class="row">
        <div class="nav">
            {{#with navigation}}
            {{#each links}}
            <div class="nav-item">
                <a href="{{href}}" class="nav-link {{#unless href includeZero=true}} disabled {{/unless}}"
                    target="_blank">{{text}}</a>
            </div>
            {{/each}}
            {{/with}}
        </div>
    </div>
    <hr class="pb-2">



    <div class="row">

        <div class="col-8">
            {{#with formBlock}}
            <div class="">
                <h1>{{header}}</h1>
                <p>{{rating.title}}: {{rating.value}}</p>
            </div>

            <div class="col-12 mb-4">
                {{#with actionBlock}}
                <div class="nav nav-tabs">
                    {{#each tabs}}
                    <div class="nav-item">
                        <a href="#" class="nav-link {{#if isActive}} active {{/if}}">{{text}}</a>
                    </div>
                    {{/each}}
                </div>
                <hr class="p-2">

                <div class="col-12">
                    <div class="card">
                        {{#with report}}
                        <p class="m-2">
                            {{title}}
                        </p>
                        {{#with button}}
                        <a class="btn btn-secondary col-4 m-2" href="{{link}}" target="_blank">{{text}}</a>
                        {{/with}}
                        {{/with}}
                    </div>
                    <hr class="my-5">
                </div>
                {{/with}}
            </div>

            <div class="col-12">
                {{#with feedbackBlock}}
                <h2 class="pb-4">{{title}}</h2>

                {{#each buttons}}
                {{#if isWarning}} <a class="btn btn-warning" href="{{link}}" target="_blank">{{text}}</a> {{/if}}
                {{#if isSuccess}} <a class="btn btn-success mx-5" href="{{link}}" target="_blank">{{text}}</a> {{/if}}
                {{#if isDanger}} <a class="btn btn-danger" href="{{link}}" target="_blank">{{text}}</a> {{/if}}
                {{/each}}
                {{/with}}
            </div>
            {{/with}}
        </div>


        <div class="col-4">
            {{#with formBlock}}
            <div class="row">
                {{#with goodsInfo}}

                <div class="card">
                    <div class="col-12">
                        <img class="m-2" src="{{photo}}">
                        <p><b class="ms-2">{{name}}</b></p>
                    </div>
                </div>

                <div class="card my-2">
                    <div class="m-1">
                        <p class="mb-0">
                        <h4>{{price}}</h4>
                        </p>
                        {{#if inMarket}} Є в наявності {{/if}}
                        {{#each buttons}}
                        <div class="my-2">
                            {{#if isPrimary}} <a href="{{link}}" class="btn btn-primary"
                                target="_blank">{{text}}</a>{{/if}}
                            {{#if isSecondary}} <a href="{{link}}" class="btn btn-secondary"
                                target="_blank">{{text}}</a>{{/if}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                {{#with seller}}
                <p class="my-2">{{title}}: <b>{{value}}</b></p>
                {{/with}}
            </div>
            {{/with}}
            {{/with}}
        </div>

    </div>
    <hr class="my-5">

    <div class="card">
        {{> reviewItem}}
    </div>


    <div class="card text-bg-success my-5">
        {{#with service}}
        <div class="card-body text-center">
            <h2 class="card-title">{{title}}</h2>
            <p>{{description}}</p>
            {{#each buttons}}
            <a class="btn btn-primary" href="{{link}}" target="_blank">{{text}}</a>
            {{/each}}
        </div>
        {{/with}}
    </div>


    <hr class="py-2">

    <div class="row">
        {{#each footer}}
        <div class="nav col-2">
            {{#each this}}
            <div>
                <a class="nav-link {{#if @last}} disabled {{/if}}" href="{{link}}">{{text}}</a>
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
</main>