<main>
    <div class="row">
        {{#with navigation}}
            {{#each links}}
                    <div class="col-2">
                        <a href="{{href}}" class="btn btn-link">{{text}}</a>
                    </div>

                    {{!-- <div class="col-2">
                        <a href="#" class="btn btn-link">Link</a>
                    </div>

                    <div class="col-2">
                        <a href="#" class="btn btn-link">Link</a>
                    </div> --}}
            {{/each}}
                <div class="col-6">
                    <a href="{{button.href}}" class="btn btn-primary">{{button.text}}</a>
                </div>
        {{/with}}
        <br>
        <br>
        <br>
        <hr>
        {{#with header}}
            <div>
                <h1>{{title}}</h1>
            </div>

            <div>
                <p>{{description}}</p>
            </div>

            <div>
                <a href="{{button.link}}" class="btn btn-primary">{{button.text}}</a>
            </div>
        {{/with}}
        <br>
        <br>
        <br>
        <hr>

        {{#with city}}
        <div>
            <h2>{{title}}</h2>
        </div>
            {{#each cards}}
                <section class="col-5 g-1">
                    <div class="card text-bg-light">
                        <img class="card-img-top" src="{{picture.src}}" alt="{{picture.alt}}">
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p>{{description}}</p>
                            <a href="{{button.href}}" class="btn btn-primary">{{button.text}}</a>
                        </div>
                    </div>
                </section>
            {{/each}}
        {{/with}}

        {{!-- <section class="col-5 g-1">
            <div class="card text-bg-light">
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="spartanec">
                <div class="card-body">
                    <h5 class="card-title">card title</h5>
                    <p>Description</p>
                    <a href="/skills" class="btn btn-primary">Open</a>
                </div>
            </div>
        </section>

        <section class="col-5 g-1">
            <div class="card text-bg-light">
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="spartanec">
                <div class="card-body">
                    <h5 class="card-title">card title</h5>
                    <p>Description</p>
                    <a href="/skills" class="btn btn-primary">Open</a>
                </div>
            </div>
        </section>

        <section class="col-5 g-1">
            <div class="card text-bg-light">
                <img class="card-img-top" src="https://picsum.photos/400/200" alt="spartanec">
                <div class="card-body">
                    <h5 class="card-title">card title</h5>
                    <p>Description</p>
                    <a href="/skills" class="btn btn-primary">Open</a>
                </div>
            </div>
        </section> --}}

        <br>
        <br>
        <br>
        <hr>

        {{#with winner}}
            <div>
                <h2>{{title}}</h2>
            </div>
            <section class="col-7">
                {{#with table}}
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            {{#each head}}
                            <th>
                                {{this}}
                            </th>
                            {{/each}}
                            {{!-- <th>
                                Name
                            </th>
                            <th>
                                last
                            </th>
                            <th>
                                Handle
                            </th> --}}
                        </tr>
                        <tbody>
                            {{#each user}}
                            <tr>
                                <th>{{place}}</th>
                                <td>{{name}}</td>
                                <td>{{surname}}</td>
                                <td>{{nickname}}</td>
                            </tr>
                            {{/each}}
                            {{!-- <tr>
                                <th>1</th>
                                <td>Serhii</td>
                                <td>OttO</td>
                                <td>@sdf</td>
                            </tr>
                            <tr>
                                <th>1</th>
                                <td>Serhii</td>
                                <td>OttO</td>
                                <td>@sdf</td>
                            </tr>
                            <tr>
                                <th>1</th>
                                <td>Serhii</td>
                                <td>OttO</td>
                                <td>@sdf</td>
                            </tr> --}}

                        </tbody>
                    </thead>    
                </table>
                {{/with}}
            </section>
        {{/with}}

        <br>
        <br>
        <br>
        <hr>


        {{#with gallery}}
        <div>
            <h2>{{title}}</h2>
        </div>
            {{#each cards}}
                <section class="row">
                    <div class="card col-4">
                        <div class="card-header">
                            <div>{{name}}</div>
                        </div>

                        <ul class="list-group list-group-flush">
                            {{#each items}}
                            <li class="list-group-item">
                                {{this}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>
            {{/each}}
        {{/with}}

            {{!-- <div class="card col-4">
                <div class="card-header">
                    <div>Card Header</div>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#" class="btn btn-link">1</a>
                    </li>

                    <li class="list-group-item">
                        <a href="#" class="btn btn-link">2</a>
                    </li>

                    <li class="list-group-item">
                        <a href="#" class="btn btn-link">3</a>
                    </li>
                </ul>   
            </div>

            <div class="card col-4">
                <div class="card-header">
                    <div>Card Header</div>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#" class="btn btn-link">1</a>
                    </li>

                    <li class="list-group-item">
                        <a href="#" class="btn btn-link">2</a>
                    </li>

                    <li class="list-group-item">
                        <a href="#" class="btn btn-link">3</a>
                    </li>
                </ul>
            </div>
        </section> --}}

        <br>
        <br>
        <br>
        <hr>

        {{#with relaxion}}
        <div class="display-3">
            {{title}}
        </div>
            {{#each cards}}
                <section class="col-5 g-1">
                    <div class="card text-bg-secondary">
                        <div class="card-header">
                            <div>{{header}}</div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p>{{description}}</p>
                        </div>
                    </div>
                </section>
            {{/each}}
        {{/with}}



        {{!-- <section class="col-5 g-1">
            <div class="card text-bg-secondary">
                <div class="card-header">
                    <div>Card Header</div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Secondary card</h5>
                    <p>Description</p>
                </div>
            </div>
        </section>
        <section class="col-5 g-1">
            <div class="card text-bg-secondary">
                <div class="card-header">
                    <div>Card Header</div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Secondary card</h5>
                    <p>Description</p>
                </div>
            </div>
        </section>
        <section class="col-5 g-1">
            <div class="card text-bg-secondary">
                <div class="card-header">
                    <div>Card Header</div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Secondary card</h5>
                    <p>Description</p>
                </div>
            </div>
        </section> --}}

        <br>
        <br>
        <br>
        <hr>

        {{#with rest}}
            {{#each cards}}
                <section class="col-6">
                    <div class="card">
                    <div class="card-header text-center">{{header}}</div>
                    <div class="card-body text-center">
                        <h6 class="card-title">{{title}}</h6>
                        <p>{{description}}</p>
                        <button class=" btn btn-light">{{button}}</button>
                    </div>
                    <div class="card-footer text-center">{{footer}}</div>
                    </div>
                </section>
            {{/each}}
        {{/with}}
        {{!-- <section class="col-6">
            <div class="card">
            <div class="card-header text-center">Header</div>
            <div class="card-body text-center">
                <h6 class="card-title">This is title</h6>
                <p>description</p>
                <button class=" btn btn-light">go somewhere!</button>
            </div>
            <div class="card-footer text-center">Footer</div>
            </div>
        </section> --}}

        <br>
        <br>
        <br>
        <hr>

        {{#with proposition}}
        <div class="display-2">
            {{title}}
        </div>

        {{#each card}}
        <section class="col-5 g-1">
            <div class="card text-bg-warning">
                <div class="card-header">
                    <div>{{header}}</div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p>{{description}}</p>
                </div>
            </div>
        </section>
        {{/each}}
        {{/with}}
        {{!-- <section class="col-5 g-1">
            <div class="card text-bg-warning">
                <div class="card-header">
                    <div>Card Header</div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Secondary card</h5>
                    <p>Description</p>
                </div>
            </div>
        </section> --}}

        <br>
        <br>
        <br>
        <hr>

        {{#with footer}}
            <div>
                <h5>{{title}}</h5>
            </div>

            {{#each navigation}}
                <section class="row">
                    <div class="col-3">
                        <a href="{{href}}" class="btn btn-link">{{text}}</a>
                    </div>
                </section>
            {{/each}}

            {{#each socialMedia}}
                <section class="row">
                    <div class="col-3">
                        <a href="{{link}}" class="btn btn-outline-dark">{{name}}</a>
                    </div>
                </section>
            {{/each}}

            {{#each partners}}  
                <section class="row">
                    <div class="col-3">
                        <a href="{{link}}" class="btn btn-outline-info">{{name}}</a>
                    </div>
                </section>
            {{/each}}

        {{/with}}

    </div>
</main>